<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Обавештење о предлогу за организовање јавне расправе</title>
<style>
    .signature-line {
        width: 300px; /* Adjust the width as needed */
        border-bottom: 1px solid #000;
        margin-top: 50px; /* Adds some spacing above the line */
        margin-bottom: 5px; /* Spacing between line and text */
    }
    h1 {
        text-transform: uppercase;
    }
</style>
<body>
<h1>СКУПШТИНИ ОПШТИНЕ {{opstina}}</h1>
<h2>Председнику скупштине</h2>
<h3>Обавештење о предлогу за организовање јавне расправе</h3>

<p> На основу члана 68. Закона о локалној самоуправи, члана 58.
    и 59. Закона о референдуму и народној иницијативи обавештавамо
    Скупштину општине {{opstina}} да смо формирали Иницијативни
    одбор за подношење предлога за организовање јавне расправе о
    „{{imeInicijtive}}“.</p>
<p> Молимо Вас да у складу са чланом 60. Закона о рефендуму и
    народној иницијативи верификујете наш предлог у законском року
    од 15 дана.</p>

<p>У {{opstineVokativ}}, дана {{datumInicijative}}</p>

<p>Чланови Иницијативног одбора:</p>

<ul>
    <li>
        <div class="signature-line"></div>
        <p>Име и презиме:oo</p>
        <p>Са пребивалиштем у Ћуприји на адреси:</p>
    </li>
    <li>
        <div class="signature-line"></div>
        <p>Име и презиме:</p>
        <p>Са пребивалиштем у Ћуприји на адреси:</p>
    </li>
    <li>
        <div class="signature-line"></div>
        <p>Име и презиме:</p>
        <p>Са пребивалиштем у Ћуприји на адреси:</p>
    </li>
</ul>
</body>
</html>